---
import NormalSection from '../components/flgridsection.astro';
import Simpledescription from '../components/simpledescription.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout title='Contacto'>

<section class="contact">

    <NormalSection className='section-flex-column'>
        <Simpledescription title='Ayuntamiento de Huesa'>
    
         <ul id="social-services">
             <li>Dirección: Plaza de la Constitución,11</li>
             <li>Teléfono: 953 715 009 - Fax: 953715 672</li>
             <li>Email: ayuntamiento@huesa.es</li>
             <li>Abierto de 8:00h a 15:00h</li>
         </ul>
    
        </Simpledescription>
        
    </NormalSection>
</section>
    
</Layout>

<style>
    .contact{
        min-width: 100vw;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: var(--dark-background);
    }
</style>
