---
export interface Props {
    title?:string;
    className?: string;
} 

const{title, className} = Astro.props;

---

<article class={className}>
    <h1>{title}</h1>        
    <article class="simple-description-inner">

        <slot/>
        
        
    </article>
</article>



<style>
    .simple-description{
    position: relative;
    padding: 2rem;
    max-width: 90%;
    height: fit-content;
    background-color: #ffffff;
    border: solid;
    border-radius: 20px;
    box-shadow: var(--shadow-black);

    @media (max-width:768px){
        min-width: 100vw;
    }
    
}

.simple-description-transparent{
    position: relative;
    padding: 2rem;
    max-width: 70%;

    @media (max-width:768px){
        min-width: 100vw;
    }
    
}

.simple-description:after{
  content: ' ';
  position: absolute;
  top: 50%;
  left: -15px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent var(--dark-background) transparent;
  transform: rotate(-90deg);
  transition: 1s;

  & @media(max-width:768px){
    top: -10px;
    left: 30%;
    rotate: 90deg;
}
}
</style>