---
export interface Props {
    title?:string;
} 

const{title} = Astro.props;

---

<article class="simple-description">
    <h1>{title}</h1>
    <div class="simple-description-inner">

        <slot/>
        
        
    </div>
</article>



<style>
    .simple-description{
    position: relative;
    padding: 2rem;
    width: 70%;
    background-color: #ffffff;
    border: solid;
    border-radius: 20px;
    box-shadow: var(--shadow-black);

    @media (max-width:768px){
        min-width: 100vw;
    }
    
}

.simple-description:after{
  content: ' ';
  position: absolute;
  top: 50%;
  left: -15px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent var(--dark-background) transparent;
  transform: rotate(-90deg);
  transition: 1s;

  & @media(max-width:768px){
    top: -10px;
    left: 30%;
    rotate: 90deg;
}
}
</style>